.container7{
    width: 500px;
    height: 400px;
    background-color: rgb(204, 204, 204);;
    margin-left: 380px;
    margin-top:50px ;
}
#tag{
    margin-left: 190px;
    padding-top: 30px;
    padding-bottom: 40px;
}
#container8
{
    margin-top: -10px;
    margin-left: 50px;
}
#floatingInput
{
    width: 400px;
}
#floatingPassword
{
    width: 400px;
}
#submit
{
    margin-top: 30px;
    margin-left: 190px;
}
.container9{
    width: 500px;
    height: 350px;
    background-color: rgb(204, 204, 204);;
    margin-left: 380px;
    margin-top:50px ;
}